<!doctype html>
<html>
<head>
  <title>Web Development Ebook </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class='bg-primary text-white'>

   <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
    <div class='container'>
      <a href='index.html' class='navbar-brand'>
        <h3 class='d-inline align-middle'>SellEbooks</h3>
      </a>
    </div>
  </nav>

  <section class='py-5 text-center'>
    <h1 class='display-5'>
      Thank You
    </h1>
    <p class='lead'>Your Ebook should be emailed to you within 1 business day</p>
    <a href='/' class='btn btn-dark btn-lg'>Go Back Home</a>
  </section>

</body>
</html>

